*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
                
    height:100%;
    width:100%;
    background-image: url(https://images.unsplash.com/photo-1506260408121-e353d10b87c7?q=80&w=1228&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

:root{

    --x:100px;
    --y:100px
}

main{
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y) ,rgba(255, 255, 255, 0),rgb(0, 0, 0));
}